{% extends 'base.html' %}

{%load static%}
{% block content %}
<!-- hero section -->
    <section class="hero">
        {% for hero in hero_sections %}
        <div class="hero-image">
            <img src="{{ hero.image.url }}" alt="hero-image" srcset="">

        </div>
        <div class="hero-text">
              <h2>{{ hero.title }}</h2>
                <p>{{ hero.description }}</p>
                  <div class="item-price">
                <a href="{% url 'event' %}" class="btn">Our Events</a>
                  </div>
        </div>

        {% endfor %}
        <br>
          <div style="text-align:center">
            {% for hero in hero_sections %}
                <span class="dot"></span>
            {% endfor %}
          </div>
        </section>
        <section class="dishes" id="dishes">

             <h3 class="sub-heading"> our events </h3>
            <h1 class="heading"> Latest Events </h1>

            <div class="box-container">
                {% for item in event %}
                <div class="box">
                    <a href="#" class="fas fa-heart"></a>
                    <img src="{{ item.image_url.url}}" alt="">
                    <h3>{{ item.name }}</h3>
                    <p class="card-text">{{ item.message }}</p>
                    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                </div>
                {% endfor %}
            </div>
            </section>

            <section class="about" id="about">

                <h3 class="sub-heading"> about us </h3>
                <h1 class="heading">IHIMA SONS AND DAUGHTERS </h1>
        
        
                
                <div class="row">
                    <div class="image">
                        <div class="box-container">
                            <div class="box">
                                <img src="{% static 'images/cake.jpg' %}"alt="">
                            </div>
                        </div>
                    </div>
        
                <div class="content">
                    <h3 style="font-weight: bolder; text-align: center">Ihima Sons And Daughters</h3>
                    <h3 style="text-align: center; font-size: medium">Unity and Love</h3>
        
                   <div class="icons-container">
            <div class="icons">
                <i class="fas fa-book"></i> <!-- Knowledgeable -->
                <span>Knowledgeable</span>
            </div>
            <div class="icons">
                <i class="fas fa-project-diagram"></i> <!-- Network -->
                <span>Network</span>
            </div>
            <div class="icons">
                <i class="fas fa-chalkboard-teacher"></i> <!-- Mentorship -->
                <span>Mentorship</span>
            </div>
        </div>
                    <a href="#" class="btn">learn more</a>
                </div>
        
                </div>
            </section>

<section class="review" id="review">
   <br><br><br><br><br>
    <h3 class="sub-heading"> Comment Section </h3>
    <h1 class="heading">Want to Say something About us?</h1>
    <div class="swiper-container review-slider">
        <div class="swiper-wrapper">
            {% for i in member %}
            <div class="swiper-slide slide">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="{{ i.image.url }}" alt="">
                    <div class="user-info">
                        <h3>{{ i.name }}</h3>
                    </div>
                </div>
                <p>{{ i.comment }}</p>
            </div>
            <BR>
            {% endfor %}
     </div>
    </div>
       <a href="{% url 'customer_review' %}" class="btn" style="text-transform: none">Write a review</a>
</section>

{% endblock %}