{% extends 'base.html' %}
{% load static %}

{% block content %}

    <section class="dishes" id="dishes">
    <br><br><br><br><br>


     <h3 class="sub-heading"> our dishes </h3>
    <h1 class="heading"> popular dishes </h1>

    <div class="box-container">
        {% for item in dishes %}
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <img src="{{ item.image_url.url}}" alt="">
            <h3>{{ item.name }}</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="card-text">{{ item.item_description }}</p>
            <span> &#8358 {{ item.price }}</span>
            <a href="{% url 'add_to_cart' item.id %}" class="btn">add to cart</a>
        </div>
        {% endfor %}
    </div>
    </section>


{# trending section #}

    <section id="trending">
        <div class="container">
            <div class="trending-content">
                <h1>Trending This Week</h1>
                <ul class = 'trending-list'>
                    <li><a href="{% url 'product_list_by_category' 'drinks' %}">Drinks</a></li>
                    <li><a href="{% url 'product_list_by_category' 'gurasa' %}">Gurasa</a></li>
                    <li><a href="{% url 'product_list_by_category' 'meats' %}">Meats</a></li>
                    <li><a href="{% url 'product_list_by_category' 'pizza' %}">Pizza</a></li>
                </ul>
            </div>

        </div>
    </section>
     <section class="dishes" id="dishes">
        <div class="box-container">
        {% for item in trending %}
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <img src="{{ item.name.image_url.url}}" alt="">
            <h3>{{ item.name.name }}</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="card-text">{{ item.name.item_description }}</p>
            <span> &#8358 {{ item.name.price }}</span>
            <a href="{% url 'add_to_cart' item.id %}" class="btn">add to cart</a>
        </div>
        {% endfor %}
        </div>
     </section>


{#    recommendation #}
    <section class="dishes" id="dishes">

    <h3 class="sub-heading" style="padding: 20px 0">You May Like</h3>

    <div class="box-container">
        {% for i in recommend_item %}
        <div class="box">
            <a href="#" class="fas fa-heart"></a>
            <img src="{{ i.recommend_product.image_url.url}}" alt="">
            <h3>{{ i.recommend_product.name }}</h3>
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
            </div>
            <p class="card-text">{{ i.recommend_product.item_description }}</p>
            <span> &#8358 {{ i.recommend_product.price }}</span>
            <a href="{% url 'add_to_cart' i.id %}" class="btn">add to cart</a>
        </div>
        {% endfor %}
    </div>
    </section>
{% endblock %}