{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'fontawesome-free-5.15.3-web/css/all.css' %}">
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{%static './css/style.css' %}">
    <script src="{% static './js/jquery.min.js' %}"></script>
    <title>FoodX</title>
</head>
<body>
    <header>
        <a href="#" class="logo"><i class="fas fa-utensils"></i>FoodX</a>
        <nav class="navbar" id = 'side-nav'>
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'product' %}">Dishes</a>
            <a href="">Menu</a></li>
            <a href="{% url 'news' %}">Order</a>
            <a href="">Review</a>
            <a href="#about">About</a>
        </nav>
        <div class="icons">
            <i class="fas fa-search" id="search-icon"></i>
            <a href="{% url 'login' %}" class="fas fa-user"></a>
            <a href="{% url 'cart' %}" class="fas fa-shopping-cart"><sup id="cart-count"style='color:red;'>0</sup></a>
            <i class="fas fa-bars" id="menu-bars" onclick="openNav()" ></i>


        </div>
    
    </header>
    <form action="{% url 'search_products' %}" id="search-form" method="get">
        <input type="search" placeholder="search here..." name="key" id="search-box">
        <label for="search-box" class="fas fa-search"></label>
        <i class="fas fa-times" id="close"></i>
    </form>
   
    <main>
        {% block content %}

        {% endblock %}
    </main>

    <section class="footer">

    <div class="box-container">

        <div class="box">
            <h3>locations</h3>
            <a href="#">Egypt</a>

            <a href="#">USA</a>
            <a href="#">France</a>
        </div>

        <div class="box">
            <h3>quick links</h3>
            <a href="#home">home</a>
            <a href="#dishes">dishes</a>
            <a href="#about">about</a>
            <a href="#menu">menu</a>
            <a href="#reivew">reivew</a>
            <a href="#order">order</a>
        </div>

        <div class="box">
            <h3>contact info</h3>
            <a href="#">01116986853</a>
            <a href="#">01020133373</a>
            <a href="#">ag242938@gmail.com</a>
            <a href="#">fxgamal777@gmail.com</a>
        </div>

        <div class="box">
            <h3>follow us</h3>
            <a href="https://www.facebook.com/profile.php?id=100006540690109"target="_blank">Facebook</a>
            <a href="https://github.com/AhmedGamal710"target="_blank">Github</a>
            <a href="https://www.linkedin.com/in/ahmed-gamal-199a161a4"target="_blank">Linkedin</a>
        </div>

    </div>

    <div class="credit"> Designed by Mtech Inc. 2023</div>

</section>
    <script src="{% static './js/app.js' %}"></script>
</body>
</html>
