{% extends 'base.html' %}
{% load static %}

{% block content %}
   <section class="review" id="review">
   <br><br><br><br><br>
    <h3 class="sub-heading"> customer's review </h3>
    <h1 class="heading"> what they say </h1>
    <div class="swiper-container review-slider">
        <div class="swiper-wrapper">
            {% for i in review%}
            <div class="swiper-slide slide">
                <i class="fas fa-quote-right"></i>
                <div class="user">
                    <img src="{{ i.image.url }}" alt="">
                    <div class="user-info">
                        <h3>{{ i.name }}</h3>
                        <div class="stars">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star-half-alt"></i>
                        </div>
                    </div>
                </div>
                <p>{{ i.comment }}</p>
            </div>
            {% endfor %}
     </div>
    </div>
        <a href="{% url 'customer_review' %}" class="btn" style="text-transform: none">Write a review</a>
</section>
{% endblock content %}
